version: "3.9"


services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: znanie_hub
      POSTGRES_USER: znanie_hub_user
      POSTGRES_PASSWORD: znanie_hub_user_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: