{% extends "base.html" %}
{% load static %}


{% block hero %}
<section class="main-banner d-flex align-items-end justify-content-end text-center text-white"
         style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/hero_math_main.jpg' %}');
            background-size: cover;
            background-position: center 60%;
            min-height: 500px;
        ">

    <div class="p-3">
        <small class="opacity-50">
            Photo by <a
                href="https://unsplash.com/@mccarthybeckan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">McCarthy
            Beckan</a>
            on <a
                href="https://unsplash.com/photos/a-stack-of-books-and-a-calculator-on-a-yellow-background-7ub1eAqc2vw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </small>
    </div>
    </div>
</section>
{% endblock hero %}


{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">{{ subject.name }}</h1>

    <ul class="nav nav-tabs border-bottom" id="mathTabs" role="tablist">
        {% for section in sections %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.first %}active fw-bold text-secondary{% else %}custom-tab-link{% endif %} border-bottom-0"
                    id="section-tab-{{ section.pk }}"
                    data-bs-toggle="tab"
                    data-bs-target="#section-content-{{ section.pk }}"
                    type="button" role="tab">
                {{ section.title }}
            </button>
        </li>
        {% endfor %}

    </ul>

<div class="tab-content border-top pt-0" id="mathTabsContent"> {% for section in sections %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
         id="section-content-{{ section.pk }}" role="tabpanel">

        <ul class="custom-list">
            {% for topic in section.topics.all %}
            <li>
                <a href="{% url 'topic_detail' topic.pk %}" class="text-decoration-none" style="color: inherit;">
                    <strong class="topic-title">{{ topic.title }}</strong>
                </a>

                {% if topic.content_type == 'simulator' %}
                <span class="badge rounded-pill bg-light text-info border ms-2"
                      style="font-size: 0.7rem; vertical-align: middle;">Тренажер</span>
                {% endif %}

                {% if topic.description %}
                <div class="small text-muted ps-0 mt-1">{{ topic.description }}</div>
                {% endif %}
            </li>
            {% empty %}
            <li class="text-muted">В этом разделе пока нет доступных тем.</li>
            {% endfor %}
        </ul>

    </div>
    {% endfor %}
</div>


{% endblock %}